

<div id="movies">
  <% @movies.each do |movie| %>
  <article class="movie">
  <table>
    <tr>
      <td>
        <div class="media-object stack-for-small">
          <%= image_for(movie)%>
        </div>
      </td>
      <td>
        <div>
          <h3><%= link_to movie.title, movie %> (<%= movie.released_on.year %>)</h3>
          <h4><%= movie.cast %></h4>
          </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <%= truncate(movie.description, length: 150, separator: ' ') %>
      </td>
    </tr>
    <tr>
    <th>Rating</th>
      <td><%= movie.rating %></td>
      </tr>
          <tr>
            <th>Duration</th>
            <td><%= movie.duration %></td>
          </tr>
          <tr>
            <th>Total Gross</th>
            <td><%= format_total_gross(movie) %></td>
          </tr>

  </table>      
      </article>
   
    
  <% end %>
</div>


