<article>
  <header>
    <h1><% content_for(:title, @movie.title) %></h1>    
  </header>
<h2><%= @movie.title %></h2>
<table>
  <tr>
    <td width="40%", valign="top">    
        <%= image_for(@movie) %>   
         <h5>Average Review</h5>
  <% if current_user %>
    <% if @current_favorite %>
      <%= button_to "Unfave", movie_favorite_path(@movie, @current_favorite), method: :delete %>
    <% else %>  
      <%= button_to "Fave", movie_favorites_path(@movie) %>
  <% end %>
<% end %>

<p>
  <%= format_average_stars(@movie) %>
</p>  
<% if @movie.recent_reviews.any? %>
  <h4>Recent Reviews</h4>
  <ol id="reviews">
    <% @movie.recent_reviews.each do |review| %>
       ...
    <% end %>
  </ol>
  <p>
    Read all <%= link_to pluralize(@movie.reviews.size, "review"), 
                    movie_reviews_path(@movie) %>
  </p>
<% end %>
    </td>
    <td width="60%", valign="top">
      
      <h4>Description</h4>
      <p>
        <%= @movie.description %>
      </p>
      <h4>Rating</h4>
      <p>
        <%= @movie.rating %>
      </p>
      <h4>Released On</h4>
  <p>
    <%= @movie.released_on %>
  </p>
  <h3>Total Gross</h3>
  <p>
    <%= format_total_gross(@movie) %>
  </p>
  <h4>Cast</h4>
<p>
  <%= @movie.cast %>
</p>

<h4>Director</h4>
<p>
  <%= @movie.director %>
</p>

<h4>Duration</h4>
<p>
  <%= @movie.duration %>
</p>
    </td>
  </tr>
</table>

 
  
  

<% content_for :side do %>
  <% if @fans.any? %>
  <h4>Fans</h4>
  <ul>
    <% @fans.each do |user| %>
      <li>
        <%= link_to user.name, user %>
      </li>
    <% end %>
  </ul>
<% end %>
<% end %>


  





<% content_for :side do %>
<h4>Genres</h4>
<ul>
  <% @genres.each do |genre| %>
    <li><%= genre.name %></li>
  <% end %>
</ul>
<% end %>
            
</article>

<nav>
  <% if current_user_admin? %>
    <%= link_to "Edit", edit_movie_path(@movie) %> |
    <%= link_to "Delete", movie_path(@movie), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</nav>
<br/>
<footer>
<%= link_to "Write Review", new_movie_review_path(@movie),
             class: 'button ok review' %>
...
</footer>